<html>
        <head>
                <title>Genealogy</title>
        </head>
            <body>
                <div>
                    <h1><a href="/">Genealogy - Ahnenforschung leicht gemacht</a></h1>
                </div>
        
                <div>
                    <p>07.07.2018</p>
                    <h2><a href="">So geht's</a></h2>
                    <p><strong>Aenean</strong> eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                </div>
                <br>
                <div>
                    <p>07.07.2018</p>
                    <h2><a href="">Erste Schritte</a></h2>
                    <p><em>Aenean</em> eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
                </div>

                <div>
                    <ul><li>Übersicht verschaffen</li><li>Verwandte befragen</li><li>Online-Tools verwenden</li><li>Kirchen/Standesämter anschreiben</li><li>Stammbaum fertigstellen</li></ul>
                </div>
            </body>
</html>